* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(242, 241, 255);
}

.container {
    max-width: 1000px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display:flex;
}

.sidebar {
    background-color: rgb(151, 151, 255);
    width: 25%;
    color: white;
    border-radius: 5%;
    display: flex;
    flex-direction:column;
    padding-left: 50px;
    padding-top: 20px;
    gap: 2%;
}

.content {
    width: 75%;
    border-radius: 5%;
    padding: 2%;

}

.profile-picture {
    border-radius: 50%;
    max-width: 70%;
}

.section1 {
    border: 3px solid rgb(151, 151, 255);
    border-radius: 8px;
    padding: 20px;
    height: 180px;
}

.section2 {
    border: 3px solid rgb(151, 151, 255);
    border-radius: 8px;
    height: 160px;
    padding: 20px;
}

.section3 {
    border: 3px solid rgb(151, 151, 255);
    border-radius: 8px;
    height: 160px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(104, 104, 255);
}

li {
    color: rgb(104, 104, 255);;
    margin: 10px;
}

.section4 {
    border: 3px solid rgb(151, 151, 255);
    border-radius: 8px;
    height: 160px;
    padding: 20px;
    }

#nome {

    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ocupação {

    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
